<div class="chat__sidebar__header">
    {{#> button-icon}}
        {{> user-icon className='chat__sidebar__header__icon'title="profile"}}
    {{/button-icon}} 
    {{> input className='input--s input--stretched' placeholder='search'}}
</div>