.input {
  background-color: var(--obi-van-kenobi);
  padding: 0 10px;
  height: 50px;
  font-size: 16px;
  color: var(--han-solo);
  font-weight: 400;
  width: 275px;
  border-radius: 3px;

  &:focus {
    outline: 1px solid var(--luke-skywalker);
  }

  &--stretched {
    width: 100%;
  }

  &--s {
    height: 32px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  color: var(--chewbacca);
  font-size: 16px;
  gap: 3px;
}
