{{#> form-layout}}
    {{#each userFields}}
        {{> input }}
    {{/each}}

    <div class="form-layout__buttons-group">
        <div class="profile-edit__buttons">
            {{> button text='cancel' className='button--normal button--s'}}
            {{> button text='save' className='button--accent button--s'}}
        </div>
    </div>
{{/form-layout}}