.chat {
  &__sidebar {
    &__content-layout {
      padding: 0 20px;
      height: 100%;
      overflow-y: scroll;
    }

    &__header {
      display: flex;
      padding: 20px 0;
      gap: 11px;
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: var(--darth-vader);

      &__icon {
        width: 20px;
        height: 20px;
        color: var(--chewbacca);
      }
    }

    &__create-chat-button {
      position: absolute;
      right: 0;
      bottom: 0;

      &__icon {
        width: 48px;
        height: 48px;
      }
    }
  }
}
