<div class='error'>
  <div class='error__number'>{{errorNumber}}</div>
  <div class='error__message'>{{errorMessage}}</div>
  {{> button text='back to chats' className='button--accent button--m'}}
</div>