.profile {
  &__sidebar__layout {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__sidebar__icon {
    width: 28px;
    color: var(--leia-organa);
  }

  &__user-form-layout {
    align-self: center;
    position: relative;

    &__avatar-layout {
      position: absolute;
      top: 0;
      left: -175px;
    }
  }

  &__actions {
    position: absolute;
    right: 36px;
    top: 36px;
    display: flex;
    gap: 12px;

    &__icon {
      width: 28px;
      color: var(--leia-organa);
    }
  }
}
