.profile-edit {
  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__photo-icon {
    position: absolute;
    width: 87px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--darth-vader);
  }
}
