<svg class='{{className}}' viewBox='0 0 48 48' fill='none'>
  <title>{{title}}</title>
  <path
    d='M16 37.8564C18.4323 39.2607 21.1914 40 24 40C26.8086 40 29.5677 39.2607 32 37.8564C34.4323 36.4521 36.4521 34.4323 37.8564 32C39.2607 29.5677 40 26.8086 40 24C40 21.1914 39.2607 18.4323 37.8564 16C36.4521 13.5677 34.4323 11.5479 32 10.1436C29.5677 8.7393 26.8086 8 24 8C21.1914 8 18.4323 8.7393 16 10.1436'
    stroke='currentColor'
    stroke-width='4'
  />
  <path
    d='M4 24L2.43826 22.7506L1.43875 24L2.43826 25.2494L4 24ZM22 26C23.1046 26 24 25.1046 24 24C24 22.8954 23.1046 22 22 22V26ZM10.4383 12.7506L2.43826 22.7506L5.56174 25.2494L13.5617 15.2494L10.4383 12.7506ZM2.43826 25.2494L10.4383 35.2494L13.5617 32.7506L5.56174 22.7506L2.43826 25.2494ZM4 26H22V22H4V26Z'
    fill='currentColor'
  />
</svg>