<svg class='{{className}}' viewBox='0 0 87 87' fill='none'>
  <title>{{title}}</title>
  <path
    fill-rule='evenodd'
    clip-rule='evenodd'
    d='M43.5 65.25C53.5101 65.25 61.625 57.1351 61.625 47.125C61.625 37.1149 53.5101 29 43.5 29C33.4899 29 25.375 37.1149 25.375 47.125C25.375 57.1351 33.4899 65.25 43.5 65.25ZM43.5 58.0257C37.4796 58.0257 32.5993 53.1454 32.5993 47.125C32.5993 41.1046 37.4796 36.2243 43.5 36.2243C49.5204 36.2243 54.4007 41.1046 54.4007 47.125C54.4007 53.1454 49.5204 58.0257 43.5 58.0257Z'
    fill='currentColor'
  />
  <path
    fill-rule='evenodd'
    clip-rule='evenodd'
    d='M34.6606 7.25C29.6704 7.25 25.3206 10.6462 24.1103 15.4874L22.5447 21.75H14.5C8.49392 21.75 3.625 26.6189 3.625 32.625V68.875C3.625 74.8813 8.49392 79.75 14.5 79.75H72.5C78.5063 79.75 83.375 74.8813 83.375 68.875V32.625C83.375 26.6189 78.5063 21.75 72.5 21.75H64.4554L62.8898 15.4874C61.6794 10.6462 57.3297 7.25 52.3392 7.25H34.6606ZM31.1439 17.2458C31.5473 15.6321 32.9972 14.5 34.6606 14.5H52.3392C54.0027 14.5 55.4527 15.6321 55.8562 17.2458L57.4218 23.5084C58.2287 26.7359 61.1284 29 64.4554 29H72.5C74.5021 29 76.125 30.623 76.125 32.625V68.875C76.125 70.8771 74.5021 72.5 72.5 72.5H14.5C12.498 72.5 10.875 70.8771 10.875 68.875V32.625C10.875 30.623 12.498 29 14.5 29H22.5447C25.8715 29 28.7713 26.7359 29.5782 23.5084L31.1439 17.2458Z'
    fill='currentColor'
  />
</svg>