{{#> form-layout}}
    {{#each userFields}}
        {{> input-readonly }}
    {{/each}}

    <div class='form-layout__buttons-group'>
        {{> button text='change password' className='button--accent button--l'}}
    </div>
{{/form-layout}}