<div class='message-area__layout'>
    {{#> button-icon}}
        {{> attachment className='message-area__icon' title='add file'}}
    {{/button-icon}}

    {{> textarea name='message' placeholder='Type text...'}}

    {{#> button-icon}}
        {{> arrow-right className='message-area__icon message-area__icon--accent' title='send'}}
    {{/button-icon}}
</div>