<svg class='{{className}}' viewBox='0 0 20 20' fill='none'>
  <title>{{title}}</title>
  <path
    d='M10 19C12.3869 19 14.6761 18.0518 16.364 16.364C18.0518 14.6761 19 12.3869 19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1C7.61305 1 5.32387 1.94821 3.63604 3.63604C1.94821 5.32387 1 7.61305 1 10C1 12.3869 1.94821 14.6761 3.63604 16.364C5.32387 18.0518 7.61305 19 10 19ZM10 19C11.7608 19.0019 13.483 18.4843 14.951 17.512C14.835 16.5451 14.3691 15.6541 13.6412 15.0071C12.9133 14.3601 11.9739 14.0019 11 14H9C8.02615 14.0019 7.08665 14.3601 6.35879 15.0071C5.63092 15.6541 5.16502 16.5451 5.049 17.512C6.51698 18.4843 8.23921 19.0019 10 19ZM13 8C13 8.79565 12.6839 9.55871 12.1213 10.1213C11.5587 10.6839 10.7956 11 10 11C9.20435 11 8.44129 10.6839 7.87868 10.1213C7.31607 9.55871 7 8.79565 7 8C7 7.20435 7.31607 6.44129 7.87868 5.87868C8.44129 5.31607 9.20435 5 10 5C10.7956 5 11.5587 5.31607 12.1213 5.87868C12.6839 6.44129 13 7.20435 13 8Z'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
  />
</svg>