@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('./components/avatar/avatar.css');
@import url('./components/button/button.css');
@import url('./components/button-icon/button-icon.css');
@import url('./components/label-input/label-input.css');
@import url('./components/form-layout/form-layout.css');
@import url('./components/error-message/error-message.css');
@import url('./components/sidebar/sidebar.css');
@import url('./components/textarea/textarea.css');
@import url('./components/popup/popup.css');
@import url('./layouts/centred-layout/centred-layout.css');
@import url('./layouts/main-layout/main-layout.css');
@import url('./layouts/main-content-layout/main-content-layout.css');
@import url('./layouts/profile-layout/profile-layout.css');
@import url('./layouts/popup-layout/popup-layout.css');
@import url('./pages/profile/profile.css');
@import url('./pages/profile/change-password.css');
@import url('./pages/chat/chat.css');
@import url('./pages/chat/modules/message-in-list/message-in-list.css');
@import url('./pages/chat/modules/chat-block/chat-block.css');
@import url('./pages/chat/modules/chat-block/modules/chat-block-header/chat-block-header.css');
@import url('./pages/chat/modules/chat-block/modules/message-area/message-area.css');
@import url('./pages/chat/modules/chat-block/modules/message-in-chat/message-in-chat.css');

:root {
  font-family: Roboto, sans-serif;
  background-color: #242424;

  --leia-organa: #ea4c88;
  --luke-skywalker: #89949c;
  --obi-van-kenobi: #3b4148;
  --han-solo: #fff;
  --chewbacca: #d2d2d2;
  --yoda: #454545;
  --darth-vader: #0e1b24;
  --r2-d2: #2c3338;
  --c3-po: #83919c;
  --palpatine: #3369f3;
  --padme-amilada: #c3d6e4;
  --qui-gon-jinn: rgb(195 214 228 / 80%);
  --maul: rgb(82 82 82 / 50%);
  --jar-jar-binks: rgba(234 76 136 / 20%);
  --reva: red;
}

html {
  height: 100%;
}

body,
#app {
  margin: 0;
  height: 1px;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}
