@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import './components/avatar/avatar.css';
@import './components/button/button.css';
@import './components/button-icon/button-icon.css';
@import './components/input/input.css';
@import './components/form-layout/form-layout.css';
@import './components/error/error.css';
@import './components/sidebar/sidebar.css';
@import './components/textarea/textarea.css';
@import './layouts/centred-layout/centred-layout.css';
@import './layouts/main-layout/main-layout.css';
@import './layouts/main-content-layout/main-content-layout.css';
@import './layouts/profile-layout/profile-layout.css';
@import './pages/profile/profile.css';
@import './pages/profile/profile-edit.css';
@import './pages/profile/change-password.css';
@import './pages/chat/chat.css';
@import './pages/chat/modules/message-in-list/message-in-list.css';
@import './pages/chat/modules/chat-block/chat-block.css';
@import './pages/chat/modules/chat-block/modules/chat-block-header/chat-block-header.css';
@import './pages/chat/modules/chat-block/modules/message-area/message-area.css';
@import './pages/chat/modules/chat-block/modules/message-in-chat/message-in-chat.css';

:root {
  font-family: Roboto, sans-serif;
  background-color: #242424;

  --leia-organa: #ea4c88;
  --luke-skywalker: #89949c;
  --obi-van-kenobi: #3b4148;
  --han-solo: #fff;
  --chewbacca: #d2d2d2;
  --yoda: #454545;
  --darth-vader: #0e1b24;
  --r2-d2: #2c3338;
  --c3-po: #83919c;
  --palpatine: #3369f3;
  --padme-amilada: #c3d6e4;
  --qui-gon-jinn: rgba(195, 214, 228, 0.8);
  --maul: rgba(82, 82, 82, 0.5);
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 1px;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.a {
  width: 500px;
}
